@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.pass {
  position: relative;
  font-weight: 500;
  font-size: 17px;
  border-bottom: 1px solid rgb(105, 101, 101);
}

.pass span {
  position: absolute;
  right: 0px;
  color: #A7213F;
  font-size: 25px;
  margin-top: 7%;

}

.mail {
  position: relative;
  font-weight: 500;
  font-size: 17px;
  border-bottom: 1px solid rgb(105, 101, 101);
}

.mail span {
  position: absolute;
  right: 0px;
  color: #A7213F;

  font-size: 25px;
  margin-top: 7%;

}

.sub button {
  width: 80%;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  background-color: #A7213F;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #A7213F;
}

.reset {
  float: right;

}

.reset a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.sign button {
  border: 1px solid #A7213F;
}

.sign {
  float: right;
}

.mail input {

  border: none;
  padding: 0%;
  margin-top: 10px;
}

.popup h4 {
  margin-top: 10px;
  margin-left: 10px;
}

.popup input {
  margin-top: 18px;
  width: 95%;
  margin-left: 12px;
}

.popup p {
  margin-top: 12px;
  margin-left: 10px;
  font-weight: 600;
}

.popup .Cancel {

  color: black;
  margin-right: 5px;
  border: 1px solid #A7213F;
}

.popup .Cancel:hover {
  background-color: #A7213F;
  color: #fff;
}

.popup .button-2 {
  color: black;

  border: 1px solid #A7213F;
}

.popup .button-2:hover {
  background-color: #A7213F;
  color: #fff;
}


input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background: #fff !important;
}

.pass {
  position: relative;
  font-weight: 500;
  font-size: 17px;
  border-bottom: 1px solid rgb(105, 101, 101);
}

.pass a {
  position: absolute;
  right: 0px;
  color: #A7213F;
  font-size: 25px;
  top: 20px;
}
