<div class="wrapp">
    <div class="container-fluid" style="margin-top: 6rem;">
      <div class="row" style="padding: 20px;">
        <div class="col-md-12">
          <h3>Company Info</h3>
        </div>
  
      <div class="col-md-12">
        <div class="col-md-6">  Company : M8 IT Solutions Pvt Ltd : M8 IT Solutions Pvt Ltd</div>
         
        <div class="col-md-6">  Address : 3rd Floor, Vue Grande, 339, Chinnaswamy Road, Siddhapudur, Balasundaram Layout, B.K.R Nagar, Coimbatore, Tamil Nadu 641044</div>
      
        <div class="col-md-6">   Phone: 1231231233</div>
        
      
        <div class="col-md-6">  Email   : abc@gmail.com </div>

      </div>
         
        
        
      </div>
 
 
    </div>
  
  </div>
  
  


    
